<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>
    <div class="container">
            <form th:object="${reflection}" action="/reflections/addSubmit" th:action="@{/reflections/addSubmit}" method="post" class="form-horizontal">
                <fieldset>
                    <p th:text="${message}">message here</p>
                    <table class="table table-striped">
                        <tr>
                            <td><input type= "hidden" th:field="${reflection.studentId}"</td>
                        </tr>
                        <tr>
                            <th>Student's Name</th>
                            <td><input type="text" th:field="${reflection.studentName}"/>
                                 <ul th:if="${#fields.hasErrors('studentName')}">
                                        <li class="error" th:each="err : ${#fields.errors('studentName')}" th:text="${err}">Name is invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Comments</th>
                            <td><input type="text" th:field="${reflection.reflectionText}"/>
                                 <ul th:if="${#fields.hasErrors('reflectionText')}">
                                        <li class="error" th:each="err : ${#fields.errors('reflectionText')}" th:text="${err}">Comment is invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    
      <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>