<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>

        <div class="container">
            <h2 class="title is-2 has-text-centered">Reflections List</h2>

            <div class="table-container">

                <a th:href="@{/reflections/add}" th:text="Add" class="button"></a>


                
                <table class="table centered is-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">Student's Id</th>
                            <th style="width: 150px;">Student's Name</th>
                            <th style="width: 150px;">Comment</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="reflection : ${reflections}">
                            <td th:text="${reflection.studentId}"></td>
                            <td th:text="${reflection.studentName}"></td>
                            <td th:text="${reflection.reflectionText}"></td>

                            <td><a th:href="@{/reflections/edit(studentId=${reflection.studentId})}">Edit</a>&nbsp;<a
                                    th:href="@{/reflections/delete(studentId=${reflection.studentId})}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>




        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>