<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="headerFragment">
        <meta charset="UTF-8"></meta>
<!--        <title th:include=":: #pageTitle">Layout Generic Title</title>-->
        <title id="pageTitle" th:text="#{application.name}">Reflections</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
        <link rel="stylesheet" href="/css/styles.css"/>
        <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>

    </body>
</html>