<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <div class="container">
            <form th:object="${ojtReflection}" action="/ojtReflections/addSubmit" th:action="@{/ojtReflections/addSubmit}" method="post" class="form-horizontal">
                <fieldset>
                    <p th:text="${message}">message here</p>
                    <table class="table table-striped">
                        <tr>
                            <td><input type= "hidden" th:field="${ojtReflection.id}"/></td>
                        </tr>
                        <tr>
                            <th>Student Id</th>
                            <td><input type="text" th:field="${ojtReflection.studentId}"/>
                                <ul th:if="${#fields.hasErrors('studentId')}">
                                    <li class="error" th:each="err : ${#fields.errors('studentId')}" th:text="${err}">Id is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Student Name</th>
                            <td><input type="text" th:field="${ojtReflection.studentName}"/>
                                <ul th:if="${#fields.hasErrors('studentName')}">
                                    <li class="error" th:each="err : ${#fields.errors('studentName')}" th:text="${err}">Name is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Reflection</th>
                            <td><input type="text" th:field="${ojtReflection.reflection}"/>
                                <ul th:if="${#fields.hasErrors('reflection')}">
                                    <li class="error" th:each="err : ${#fields.errors('reflection')}" th:text="${err}">Reflection is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>

                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="button" type="submit">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>

        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>