<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>

        <div class="container">
            <h2 class="title is-2 has-text-centered">Reflection List&nbsp;<span th:text="${findNameMessage}"></span></h2>

            <div class="table-container">

                <a th:href="@{/ojtReflections/add}" th:text="Add" class="button"></a>
                <h4>Amount of reflections: <span th:text="${amountOfReflections}"> </span></h4>

                
                <table class="table centered is-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">id</th>
                            <th style="width: 150px;">Student Id</th>
                            <th style="width: 150px;">Student Name</th>
                            <th style="width: 150px;">Reflection</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ojtReflection : ${ojtReflections}">
                            <td th:text="${ojtReflection.id}"></td>
                            <td th:text="${ojtReflection.studentId}"></td>
                            <td th:text="${ojtReflection.studentName}"></td>
                            <td th:text="${ojtReflection.reflection}"></td>

                            <td><a th:href="@{/ojtReflections/edit(id=${ojtReflection.id})}">Edit</a>&nbsp;<a
                                    th:href="@{/ojtReflections/delete(id=${ojtReflection.id})}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>






        </div>




        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>